{% extends "moneymate/dashboard.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block expenses_incomes %}
<!--The user can choose to add an expense or income-->
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
  <div id="control-dashboard" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      <span id="info-dashboard" class="nav-link">Add origin:</span>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0 ">
      <div class="btn-group me-2">
        <a class="nav-link" href="{% url 'addOrigin' %}">
					<button type="button" class="btn btn-sm btn-outline-secondary">Add origin</button>
				</a>
      </div>
    </div>
  </div>
</main>


<div class="card m-3">
    <div class="card-body">
      {% if request.user == user %}
        <form action="{% url 'addOrigin' %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                <label for="name">Name of Origin:</label>
                <input type="name" class="form-control" name="name" id="name"  required>
            </div>
            <button type="submit" value="submit" class="btn btn-primary">Submit</button>
        </form>
        {% else %}
        <p>You do not have permission to add this origin.</p>
      {% endif %}
    </div>
  </div>
  
{% endblock %}
