{% extends "moneymate/base.html" %}
{% load static %}

{% block content %}

<!--Navigation bar-->
<nav class="navbar navbar-expand-lg bg-dark">
  <div class="container-fluid">
    <button class="navbar-toggler .dashboard-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <a class="navbar-brand-img img-dashboard" href="{% url 'dashboard' %}"> <img id="page-start" class="img-nav" src="{% static 'img/MoneyMate-Dark.png' %}" alt="Brand:MoneyMate" /></a>
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item links-dashboard">
          <a class="nav-link " href="{% url 'listExpenses' %}">Expenses</a>
        </li>
        <li class="nav-item links-dashboard">
          <a class="nav-link" href="{% url 'listIncomes' %}">Incomes</a>
        </li>
        <li class="nav-item links-dashboard">
          <a class="nav-link" href="{% url 'listCategories' %}">Category</a>
        </li>
        <li class="nav-item links-dashboard">
          <a class="nav-link" href="{% url 'listOrigins' %}">Origin</a>
        </li>
        <li class="nav-item links-dashboard">
          <a class="nav-link" href="{% url 'listCurrencies' %}">Currency</a>
        </li>
      </ul>
      <form class="d-flex" role="search">
        <a class="nav-link" href="{% url 'account_logout' %}">
          <button class="buttons btn btn-outline-success me-2" type="button">Sign out</button>
        </a>
      </form>
    </div>
  </div>
</nav>

<!--The user can choose to add an expense or income-->
{% block expenses_incomes %}
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
  <div id="control-dashboard" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      {% if request.user.is_authenticated %}
      <span id="info-dashboard" class="nav-link">Welcome, {{ request.user.username }}!</span>
      {% else %}
      <span id="info-dashboard" class="nav-link">Welcome!</span>
      {% endif %}
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0 ">
      <div class="btn-group me-2">
        <a class="nav-link" href="{% url 'addExpense' %}">
          <button id="add-expense" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-minus"></i></button>
        </a>

        <a class="nav-link" href="{% url 'addIncome' %}">
          <button id="add-income" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-plus"></i></button>
        </a>
      </div>
    </div>
  </div>
</main>

{% endblock %}

<footer class="container-fluid bg-dark text-white text-center py-3 fixed-bottom">
  <div class="row">
    <div class="col-sm-12 col-md">
      <h5>Expenses:</h5>
        <button id="total-expenses" type="button" class="btn-no btn-outline-light-no">{{ totalExpenses }}{{ currency_symbol }}</button>
    </div>
    <div class="col-sm-12 col-md">
      <h5>Incomes:</h5>
      <button id="total-incomes" type="button" class="btn-no btn-outline-light-no">{{ totalIncomes }}{{ currency_symbol }}</button>
    </div>
    <div class="col-sm-12 col-md">
      <h5>Balance:</h5>
      <button id="balance-button" type="button" class="btn-no btn-outline-light-no">{{ balance }}{{ currency_symbol }}</button>
    </div>
  </div>
</footer>

{% endblock %}