{% extends "moneymate/dashboard.html" %}
{% load static %}

{% block expenses_incomes %}
<!--The user can choose to add an expense or income-->
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
  <div id="control-dashboard" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">
      <span id="info-dashboard" class="nav-link">Edit income:</span>
    </h1>
    <div class="btn-toolbar mb-2 mb-md-0 ">
      <div class="btn-group me-2">
        <a class="nav-link" href="{% url 'addExpense' %}">
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="far fa-minus-square"></i>Add expense</button>
        </a>
        <a class="nav-link" href="{% url 'addIncome' %}">
          <button type="button" class="btn btn-sm btn-outline-secondary"><i class="fas fa-plus-square"></i> Add income</button>
        </a>
      </div>
    </div>
  </div>
</main>

<div class="card m-3">
    <div class="card-body">
      <form action="{% url 'edit-income' income.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
          <label for="date">Date of Income:</label>
          <input type="date" class="form-control" name="date" id="date" value="{{ income.date|date:'Y-m-d' }}" required>
        </div>
        <div class="form-group">
          <label for="amount">Amount:</label>
          <input type="number" step="0.01" max="9999999999.99" class="form-control" name="amount" id="amount" value="{{values.amount}}" required>
        </div>
        <div class="form-group">
          <label for="origin">Origin:</label>
          <select class="form-control" name="origin" id="origin" required>
            <option selected value="{{values.origin}}">{{values.origin}}</option>
            {% for origin in origins %}
            <option value="{{origin.name}}">{{origin.name}}</option>
            {% endfor %}
          </select>
        </div>
        <div class="form-group">
          <label for="description">Description:</label>
          <input type="text" class="form-control" name="description" id="description" value="{{values.description}}">
        </div>
        <button type="submit" value="update" class="btn btn-primary">Update</button>
      </form>
    </div>
  </div>
  
{% endblock %}