{% extends "moneymate/dashboard.html" %} {% load static %} {% load crispy_forms_tags %} {% block expenses_incomes %}

<!--The user can choose to add an expense or income-->
<main class="col-md-12 ms-sm-auto col-lg-12 px-md-4">
	<div id="control-dashboard" class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
		<h1 class="h2">
			<span id="info-dashboard" class="nav-link">List of incomes:</span>
		</h1>
		<div class="btn-toolbar mb-2 mb-md-0">
			<div class="btn-group me-2">
				<a class="nav-link" href="{% url 'addExpense' %}">
				  <button id="add-expense" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-minus"></i></button>
				</a>
		
				<a class="nav-link" href="{% url 'addIncome' %}">
				  <button id="add-income" type="button" class="btn btn-sm btn-outline-secondary"><i class="fa fa-plus"></i></button>
				</a>
			</div>
		</div>
	</div>
</main>

{% if user.is_authenticated %}
<div class="table-responsive m-3">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-2">Date of income</th>
				<th class="col-2">Amount</th>
				<th class="col-2">Origin</th>
				<th class="col-4">Description</th>
				<th class="col-1"></th>
				<!-- Column for the Edit button -->
				<th class="col-1"></th>
				<!-- Column for the Delete button -->
			</tr>
		</thead>
		<tbody>
			{% if incomes.count %} {% for income in page_object %}
			<tr>
				<td>{{ income.date }}</td>
				<td>{{ income.amount }}</td>
				<td>{{ income.origin }}</td>
				<td>{{ income.description }}</td>
				<td>
					<a href="{% url 'edit-income' income.id %}">
						<button class="btn btn-primary">Edit</button>
					</a>
				</td>
				<td>
					<a href="{% url 'delete-income' income.id %}">
						<button id="delete-button" class="btn btn-primary">Delete</button>
					</a>
				</td>
			</tr>
			{% endfor %} {% else %}
			<tr>
				<td colspan="6">No incomes found.</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
	{% else %}
	<p>You do not have permission to see this list of incomes.</p>
  {% endif %}

	<!--Here is shown the page number-->
	<div class="paginate">
		<div class="d-flex justify-content-center justify-content-md-start mb-2 mb-md-0">
			<p>Showing page {{page_object.number}} of {{ page_object.paginator.num_pages }}.</p>
		</div>
		<ul class="pagination justify-content-center justify-content-md-end">
			{% if page_object.has_previous %}
			<li class="page-item">
				<a class="page-link" href="?page=1" tabindex="-1">&laquo;</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="?page={{ page_object.previous_page_number }}">Previous</a>
			</li>
			{% endif %} {% for page_num in page_object.paginator.page_range %} {% if page_object.number == page_num %}
			<li class="page-item active"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
			{% else %}
			<li class="page-item"><a class="page-link" href="?page={{ page_num }}">{{ page_num }}</a></li>
			{% endif %} {% endfor %} {% if page_object.has_next %}
			<li class="page-item">
				<a class="page-link" href="?page={{ page_object.next_page_number }}">Next</a>
			</li>
			<li class="page-item">
				<a class="page-link" href="?page={{ page_object.paginator.num_pages }}">&raquo;</a>
			</li>
			{% endif %}
		</ul>
	</div>
</div>

{% endblock %}

