{% extends "moneymate/dashboard.html" %} {% load static %} {% block expenses_incomes %}

<div class="table-responsive">
	<table class="table table-striped">
		<thead>
			<tr>
				<th class="col-2">Date of expense</th>
				<th class="col-2">Amount</th>
				<th class="col-2">Category</th>
				<th class="col-4">Description</th>
				<th class="col-1"></th>
				<!-- Column for the Edit button -->
				<th class="col-1"></th>
				<!-- Column for the Delete button -->
			</tr>
		</thead>
		<tbody>
			{% if expenses.count %} {% for expense in expenses %}
			<tr>
				<td>{{ expense.date }}</td>
				<td>{{ expense.amount }}</td>
				<td>{{ expense.category }}</td>
				<td>{{ expense.description }}</td>
				<td>
					<a href="{% url 'edit-expense' expense.id %}">
						<button class="btn btn-primary">Edit</button>
					</a>
				</td>
				<td>
					<a href="#">
						<button class="btn btn-primary">Delete</button>
					</a>
				</td>
			</tr>
			{% endfor %} {% else %}
			<tr>
				<td colspan="6">No expenses found.</td>
			</tr>
			{% endif %}
		</tbody>
	</table>
</div>


{% endblock %}
